services:
  concierge:
    image: infosecinnovations/concierge:${CONCIERGE_VERSION:-latest}
    container_name: concierge
    environment:
      - OPENSEARCH_HOST=opensearch-node1
      - OLLAMA_HOST=ollama
      - CONCIERGE_SECURITY_ENABLED=False
    ports:
      - ${WEB_PORT:-15130}:15130
    restart: unless-stopped
    volumes:
      - ../concierge.yml:/concierge.yml
  concierge-enable-security:
    extends: concierge
    environment:
      - KEYCLOAK_HOST=keycloak
      - CONCIERGE_SECURITY_ENABLED=True
      - KEYCLOAK_CLIENT_ID=${KEYCLOAK_CLIENT_ID}
      - KEYCLOAK_CLIENT_SECRET=${KEYCLOAK_CLIENT_SECRET}
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=${OPENSEARCH_INITIAL_ADMIN_PASSWORD}
    volumes:
      - ${WEB_CERT:-./test_certs/cert.pem}:/web_certs/cert.pem
      - ${WEB_KEY:-./test_certs/key.pem}:/web_certs/key.pem