# config files used by Shabti
.env
shabti_log.json
shabti_logs/

# generated certificates
self_signed_certificates

# files that appear to be due to installing dependencies, try un-ignoring these if needed
share
etc

# VSCode settings
.vscode/settings.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# package builds
dist

# assets built by scripts
shabti_configurator/assets/docker_compose.zip
shabti_configurator/assets/index.js

# avoid accidentally committing orphaned node_modules directories after deleting or rename a JS package!
node_modules