name: concierge

# this is a bit of a hack to conditionally include keycloak if we're running security, the blank compose stops Docker from complaining when doing an unsecured instance.
include:
  - ./concierge_packages/install_concierge/src/install_concierge/docker_compose/docker_compose_dependencies/${KEYCLOAK_SERVICE_FILE:-docker-compose-blank.yml}

services:
  ollama:
    extends:
      file: concierge_packages/install_concierge/src/install_concierge/docker_compose/docker_compose_dependencies/docker-compose-ollama.yml
      service: ${OLLAMA_SERVICE:-ollama}
  opensearch-node1:
    extends:
      file: concierge_packages/install_concierge/src/install_concierge/docker_compose/docker_compose_dependencies/docker-compose-opensearch.yml
      service: ${OPENSEARCH_SERVICE:-opensearch-node-disable-security}

volumes:
  opensearch-data1:
  ollama:

networks:
  default:
    name: concierge