binaryornot~=0.4.4
bs4~=0.0.2
configobj~=5.0.8
humanize~=4.10.0
jsons~=1.6.3
jwcrypto~=1.5.6
langchain-community~=0.2.16
opensearch-py~=2.6.0
Pympler~=1.1
pypdf~=4.3.1
python-dotenv~=1.0.1
requests_oauth2client~=1.5.3
requests-oauthlib~=2.0.0
sentence-transformers~=3.0.1
shinyswatch~=0.7.0
isi-util
concierge-util
python-keycloak