body {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	padding: 2rem;
	max-width: 100rem;
	margin: auto;
	font-size: 1rem;
}

.hidden {
	display: none;
}

.error {
	color: red;
}

input[type="text"],
input:not([type]),
input[type="number"],
input[type="password"],
select {
	margin: 0 0.6em;
}

h1,
h2,
h3,
legend {
	color: #4b0082;
}

legend {
	font-weight: bold;
}

a {
	color: black;
	font-weight: bold;
}

label {
	font-weight: bold;
	font-size: 0.8rem;
}

button {
	background-color: #4b0082;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 1.2rem;
	padding: 0.3rem 1rem;
	border-radius: 100vw;
	margin: 0.5rem;
}

button:hover {
	background-color: #475c6f;
}

button:disabled {
	color: grey;
	background-color: #363636;
	cursor: unset;
}

form {
	margin-block-end: 0;
}

section {
	border: 1px #4b0082 solid;
	padding: 1rem;
	margin: 1rem 0;
}
