name: shabti

# this is a bit of a hack to conditionally include keycloak if we're running security, the blank compose stops Docker from complaining when doing an unsecured instance.
include:
  - ./docker_compose_dependencies/${KEYCLOAK_SERVICE_FILE:-docker-compose-blank.yml}

services:
  ollama:
    extends:
      file: ./docker_compose_dependencies/docker-compose-ollama.yml
      service: ollama-${SHABTI_COMPUTE:-cpu}
  opensearch-node1:
    extends:
      file: ./docker_compose_dependencies/docker-compose-opensearch.yml
      service: opensearch-node-base
  shabti:
    extends:
      file: ./docker_compose_dependencies/docker-compose-shabti.yml
      service: ${SHABTI_SERVICE:-shabti-cpu}
    build:
      context: ../../docker_containers/shabti_api
      additional_contexts: 
        python_packages: ../../python_packages
      dockerfile: Dockerfile.local
      target: ${SHABTI_COMPUTE:-cpu}
    develop:
      watch:
        - action: sync
          path: ../../docker_containers/shabti_api
          target: /
          ignore:
            - pyvenv.cfg
            - share/
            - \[Ss]cripts/
            - \[Ll]ib/
            - \[Ii]nclude/
            - __pycache__/
  shabti-web:
    extends:
      file: ./docker_compose_dependencies/docker-compose-shabti.yml
      service: ${SHABTI_WEB_SERVICE:-shabti-web}
    build:
      context: ../../docker_containers/shabti_web
      additional_contexts: 
        python_packages: ../../python_packages
      dockerfile: Dockerfile.local
    develop:
      watch:
        - action: sync
          path: ../../docker_containers/shabti_web
          target: /
          ignore:
            - pyvenv.cfg
            - share/
            - \[Ss]cripts/
            - \[Ll]ib/
            - \[Ii]nclude/
            - __pycache__/
  

volumes:
  opensearch-data1:
  ollama:
  shabti-models:

networks:
  default:
    name: shabti