services:
  shabti-cpu:
    image: infosecinnovations/shabti:${SHABTI_VERSION:-latest}
    container_name: shabti
    environment:
      - OPENSEARCH_HOST=opensearch-node1
      - OLLAMA_HOST=ollama
      - SHABTI_SECURITY_ENABLED=False
      - SHABTI_LOGGING_ENABLED=False
      - OMP_THREAD_LIMIT=1 # This makes OCR much faster, see https://stackoverflow.com/a/78657711 , it's unclear why this works.
    ports:
      - ${API_PORT:-15131}:15131
    volumes:
      - shabti-models:/root/.cache/huggingface
    restart: unless-stopped
  shabti-cuda:
    extends: shabti-cpu
    image: infosecinnovations/shabti:${SHABTI_VERSION:-latest}-cuda
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
  shabti:
    extends: shabti-${SHABTI_COMPUTE:-cpu}
  shabti-logging:
    extends: shabti-${SHABTI_COMPUTE:-cpu}
    environment:
      - SHABTI_LOGGING_ENABLED=True
      - SHABTI_LOG_DIR=/logs
    volumes:
      - ${SHABTI_LOG_DIR:-empty}:/logs
  shabti-disable-security:
    extends: ${SHABTI_BASE_SERVICE:-shabti-cpu}
  shabti-enable-security:
    extends: ${SHABTI_BASE_SERVICE:-shabti-cpu}
    environment:
      - KEYCLOAK_HOST=keycloak
      - SHABTI_SECURITY_ENABLED=True
      - KEYCLOAK_CLIENT_ID=${KEYCLOAK_CLIENT_ID}
      - KEYCLOAK_CLIENT_SECRET=${KEYCLOAK_CLIENT_SECRET}
      - ROOT_CA=opensearch_certs/root-ca.pem
    volumes:
      # even if this config isn't used, Docker complains about empty strings so we add a placeholder here
      - ${API_CERT:-empty}:/api_certs/cert.pem
      - ${API_KEY:-empty}:/api_certs/key.pem
      - ${ROOT_CA:-empty}:/opensearch_certs/root-ca.pem
  shabti-web:
    image: infosecinnovations/shabti-web:${SHABTI_VERSION:-latest}
    container_name: shabti-web
    environment:
      - OPENSEARCH_HOST=opensearch-node1
      - OLLAMA_HOST=ollama
      - SHABTI_SECURITY_ENABLED=False
      - API_HOST=shabti
      - API_PORT=${API_PORT:-15131}
    ports:
      - ${WEB_PORT:-15130}:15130
    restart: unless-stopped
  shabti-web-enable-security:
    extends: shabti-web
    environment:
      - KEYCLOAK_HOST=keycloak
      - SHABTI_SECURITY_ENABLED=True
      - KEYCLOAK_CLIENT_ID=${KEYCLOAK_CLIENT_ID}
      - KEYCLOAK_CLIENT_SECRET=${KEYCLOAK_CLIENT_SECRET}
      - ROOT_CA=opensearch_certs/root-ca.pem
    volumes:
      # even if this config isn't used, Docker complains about empty strings so we add a placeholder here
      - ${WEB_CERT:-empty}:/web_certs/cert.pem
      - ${WEB_KEY:-empty}:/web_certs/key.pem
      - ${ROOT_CA:-empty}:/opensearch_certs/root-ca.pem
