name: shabti

include:
  - ./docker-compose-dev.yml

services:
  shabti:
    extends:
      file: ./docker_compose_dependencies/docker-compose-shabti.yml
      service: ${SHABTI_SERVICE:-shabti-cpu}
    build:
      context: ../../docker_containers/shabti_api
      additional_contexts: 
        python_packages: ../../python_packages
      dockerfile: Dockerfile.local
      target: ${SHABTI_COMPUTE:-cpu}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

networks:
  default:
    name: shabti
