name: shabti

include:
  - ../shabti_configurator/docker_compose/docker_compose_dependencies/${KEYCLOAK_SERVICE_FILE:-docker-compose-blank.yml}

services:
  ollama:
    extends:
      file: ../shabti_configurator/docker_compose/docker_compose_dependencies/docker-compose-ollama.yml
      service: ollama-${SHABTI_COMPUTE:-cpu}
  opensearch-node1:
    extends:
      file: ../shabti_configurator/docker_compose/docker_compose_dependencies/docker-compose-opensearch.yml
      service: opensearch-node-base
  shabti:
    tty: true
    extends:
      file: ../shabti_configurator/docker_compose/docker_compose_dependencies/docker-compose-shabti.yml
      service: ${SHABTI_SERVICE:-shabti-cpu}
    build:
      context: ../docker_containers/shabti_api
      additional_contexts: 
        python_packages: ../python_packages
      dockerfile: Dockerfile.local
      args:
        - ACCELERATION_TYPE=${SHABTI_COMPUTE:-cpu}
    command: ["sh", "-c", "uv run pytest --junit-xml=/test_results/shabti_api_${JUNIT_FILENAME}.xml -o junit_suite_name='pytest shabti_api_${JUNIT_FILENAME}' && cd /python_packages/isi_util/ && uv run pytest --junit-xml=/test_results/isi_util_${JUNIT_FILENAME}.xml -o junit_suite_name='pytest isi_util_${JUNIT_FILENAME}' "]
    restart: no
    volumes:
      - ./test_results:/test_results/

volumes:
  opensearch-data1:
  ollama:
  shabti-models:

networks:
  default:
    name: shabti