name: shabti

include:
  - ../shabti_configurator/docker_compose/docker_compose_dependencies/${KEYCLOAK_SERVICE_FILE:-docker-compose-blank.yml}

services:
  ollama:
    extends:
      file: ../shabti_configurator/docker_compose/docker_compose_dependencies/docker-compose-ollama.yml
      service: ollama-${SHABTI_COMPUTE:-cpu}
  opensearch-node1:
    extends:
      file: ../shabti_configurator/docker_compose/docker_compose_dependencies/docker-compose-opensearch.yml
      service: opensearch-node-base
  shabti:
    extends:
      file: ../shabti_configurator/docker_compose/docker_compose_dependencies/docker-compose-shabti.yml
      service: ${SHABTI_SERVICE:-shabti-cpu}
    build:
      context: ../docker_containers/shabti_api
      additional_contexts: 
        python_packages: ../python_packages
      dockerfile: Dockerfile.local
      args:
        - ACCELERATION_TYPE=${SHABTI_COMPUTE:-cpu}
    restart: unless-stopped
  shabti-client:
    tty: true
    build:
      context: ../python_packages/shabti_api_client
      additional_contexts: 
        python_packages: ../python_packages
      dockerfile: Dockerfile
    environment:
      - SHABTI_SECURITY_ENABLED=${SHABTI_SECURITY_ENABLED:-False}
    restart: no

volumes:
  opensearch-data1:
  ollama:
  shabti-models:

networks:
  default:
    name: shabti