services:
  concierge:
    image: infosecinnovations/concierge:${CONCIERGE_VERSION:-latest}
    container_name: concierge
    environment:
      - OPENSEARCH_HOST=opensearch-node1
      - OLLAMA_HOST=ollama
      - CONCIERGE_SECURITY_ENABLED=False
    ports:
      - ${API_PORT:-15131}:15131
    restart: unless-stopped
  concierge-enable-security:
    extends: concierge
    environment:
      - KEYCLOAK_HOST=keycloak
      - CONCIERGE_SECURITY_ENABLED=True
      - KEYCLOAK_CLIENT_ID=${KEYCLOAK_CLIENT_ID}
      - KEYCLOAK_CLIENT_SECRET=${KEYCLOAK_CLIENT_SECRET}
      - ROOT_CA=opensearch_certs/root-ca.pem
      - OPENSEARCH_CLIENT_CERT=opensearch_certs/opensearch-admin-client-cert.pem
      - OPENSEARCH_CLIENT_KEY=opensearch_certs/opensearch-admin-client-key.pem
    volumes:
      # even if this config isn't used, Docker complains about empty strings so we add a placeholder here
      - ${API_CERT:-empty}:/api_certs/cert.pem
      - ${API_KEY:-empty}:/api_certs/key.pem
      - ${ROOT_CA:-empty}:/opensearch_certs/root-ca.pem
      - ${OPENSEARCH_CLIENT_CERT:-empty}:/opensearch_certs/opensearch-admin-client-cert.pem
      - ${OPENSEARCH_CLIENT_KEY:-empty}:/opensearch_certs/opensearch-admin-client-key.pem
  concierge_web:
    image: infosecinnovations/concierge_web:${CONCIERGE_VERSION:-latest}
    container_name: concierge_web
    environment:
      - OPENSEARCH_HOST=opensearch-node1
      - OLLAMA_HOST=ollama
      - CONCIERGE_SECURITY_ENABLED=False
      - API_PORT=${API_PORT:-15131}
    ports:
      - ${WEB_PORT:-15130}:15130
    restart: unless-stopped
  concierge_web-enable-security:
    extends: concierge_web
    environment:
      - KEYCLOAK_HOST=keycloak
      - CONCIERGE_SECURITY_ENABLED=True
      - KEYCLOAK_CLIENT_ID=${KEYCLOAK_CLIENT_ID}
      - KEYCLOAK_CLIENT_SECRET=${KEYCLOAK_CLIENT_SECRET}
      - ROOT_CA=opensearch_certs/root-ca.pem
    volumes:
      # even if this config isn't used, Docker complains about empty strings so we add a placeholder here
      - ${WEB_CERT:-empty}:/web_certs/cert.pem
      - ${WEB_KEY:-empty}:/web_certs/key.pem
      - ${ROOT_CA:-empty}:/opensearch_certs/root-ca.pem
