services:
  concierge:
    image: infosecinnovations/concierge:${CONCIERGE_VERSION:-latest}
    container_name: concierge
    environment:
      - OPENSEARCH_HOST=opensearch-node1
      - OLLAMA_HOST=ollama
      - CONCIERGE_SECURITY_ENABLED=False
    ports:
      - ${WEB_PORT:-15130}:15130
    restart: unless-stopped
  concierge-enable-security:
    extends: concierge
    environment:
      - KEYCLOAK_HOST=keycloak
      - CONCIERGE_SECURITY_ENABLED=True
      - KEYCLOAK_CLIENT_ID=${KEYCLOAK_CLIENT_ID}
      - KEYCLOAK_CLIENT_SECRET=${KEYCLOAK_CLIENT_SECRET}
      - ROOT_CA=opensearch_certs/root-ca.pem
      - OPENSEARCH_CLIENT_CERT=opensearch_certs/opensearch-admin-client-cert.pem
      - OPENSEARCH_CLIENT_KEY=opensearch_certs/opensearch-admin-client-key.pem
    volumes:
      - ${WEB_CERT}:/web_certs/cert.pem
      - ${WEB_KEY}:/web_certs/key.pem
      - ${ROOT_CA}:/opensearch_certs/root-ca.pem
      - ${OPENSEARCH_CLIENT_CERT}:/opensearch_certs/opensearch-admin-client-cert.pem
      - ${OPENSEARCH_CLIENT_KEY}:/opensearch_certs/opensearch-admin-client-key.pem